:root{
    --primary: #80dc54;
    --secondary: #80dc54;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--primary);
}

.block-container{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--secondary);
}